body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #F4D35E;
    background: linear-gradient(75deg, #0d3b66, #d63230);
}


/* HEADER */

.logo {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

#icon-logo {
    height: 40px;
}

#text-logo {
    color: #f0f0f0;
    font-family: 'Lobster', cursive;
    font-size: 40px;
}


/* FORM CONTAINER */

.form-container {
    display: block;
    margin: 0 50px;
    background-color: #faf0ca;
    opacity: 0.85;
    font-family: 'Abel', sans-serif;
}

.survey {
    margin: 30px;
    padding: 30px;
    color: #FBFBFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
}

.survey #title {
    font-size: 25px;
    margin: 0;
    font-weight: bold;
}

.survey #description {
    font-size: 15px;
    margin: 0;
}


/*  START OF FORM */

.form {
    margin: 20px;
}

input[type="text"] {
    font-size: 20px;
    font-family: 'Abel', sans-serif;
}

input[type="email"] {
    font-size: 20px;
    font-family: 'Abel', sans-serif;
}

input[type="number"] {
    font-size: 20px;
    font-family: 'Abel', sans-serif;
}

textarea {
    font-size: 20px;
    font-family: 'Abel', sans-serif;
}

option {
    font-size: 20px;
    font-family: 'Abel', sans-serif;
}

select {
    font-size: 20px;
    font-family: 'Abel', sans-serif;
}

button {
    font-size: 20px;
    font-family: 'Abel', sans-serif;
}