body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #F4D35E;
    background: linear-gradient(75deg, #0d3b66, #d63230);
}


/* HEADER */

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#icon-logo {
    height: 30px;
}

#text-logo {
    color: #f0f0f0;
    font-family: 'Lobster', cursive;
    font-size: 25px;
}

.subtitle {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    color: #FBFBFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: gainsboro;
}

.subtitle #title {
    font-size: 25px;
    margin: 0;
}

.subtitle #description {
    font-size: 15px;
    margin: 0;
}

#title {
    font-family: 'Montserrat', sans-serif;
}


/* FORM */

#form-container {
    background-color: #faf0ca;
    opacity: 0.85;
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    font-size: 22px;
    font-family: 'Abel', sans-serif;
}

input[type="text"] {
    font-size: 20px;
    font-family: 'Abel', sans-serif;
}

input[type="email"] {
    font-size: 20px;
    font-family: 'Abel', sans-serif;
}

input[type="number"] {
    font-size: 20px;
    font-family: 'Abel', sans-serif;
}

textarea {
    font-size: 20px;
    font-family: 'Abel', sans-serif;
}

option {
    font-size: 20px;
    font-family: 'Abel', sans-serif;
}

select {
    font-size: 20px;
    font-family: 'Abel', sans-serif;
}

button {
    font-size: 20px;
    font-family: 'Abel', sans-serif;
}

@media only screen and (max-width: 800px) {
    #form-container {
        background-color: #faf0ca;
        padding: 5px;
        margin: 0;
        border-radius: 5px;
    }
}