body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #F4D35E;
    background: linear-gradient(75deg, #0d3b66, #d63230);
}


/* HEADER */

.logo {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

#icon-logo {
    height: 40px;
}

#text-logo {
    color: #f0f0f0;
    font-family: 'Lobster', cursive;
    font-size: 40px;
}


/* FORM CONTAINER */

.form-container {
    display: block;
    padding: 20px;
    margin: 0 20px;
    background-color: #faf0ca;
    opacity: 0.85;
    font-family: 'Abel', sans-serif;
}

.survey {
    padding: 30px;
    color: #FBFBFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
}

.survey #title {
    font-size: 25px;
    margin: 0;
    font-weight: bold;
}

.survey #description {
    font-size: 15px;
    margin: 0;
}


/*  START OF FORM */

.form {
    margin: 20px;
    font-size: 1.2rem;
    font-family: 'Abel', sans-serif;
}

.bold-text {
    font-size: 1.1rem;
    font-weight: 900;
}

.options {
    margin: 20px 0;
    border-top: solid 1px rgb(202, 169, 77);
}

.options label {
    font-family: 'Montserrat', sans-serif;
}

input {
    font-family: 'Abel', sans-serif;
    font-size: 1.2rem;
}

input[type="number"] {
    width: 90px;
}

textarea,
.products option,
select {
    font-size: 1rem;
    font-family: 'Abel', sans-serif;
}

.checked {
    color: orange;
}


/* doesnt work
input .taste-options {
    font-family: 'Montserrat', sans-serif;
}

.options .extra-comments {
    color: coral;
    width: 180px;
}
*/

button {
    font-size: 1.2rem;
    font-family: 'Abel', sans-serif;
}